ALLOWED_HOSTS="yourdomain.com,www.yourdomain.com"
DATABASE_URL="postgres://user:password@db:5432/shiny_dex_db"
DEBUG=False
SECRET_KEY="django-insecure-(9cj$+y+jt%qxsfkcvv6iwljt)dpu6^2^^r=3am2ba!+9o)%m9"
