## db envs
POSTGRES_DB=ishinydex
POSTGRES_HOST=db
# WARN: insecure, please change before using
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres

## django project envs
# WARN: insecure, please change before using
ALLOWED_HOSTS="*"
APP_HOME=/home/guest/ishinydex-backend
APP_NAME=ishinydex
DEBUG=False
DJANGO_SUPERUSER_EMAIL=admin@localhost
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_USERNAME=admin
PROJECT_APPS="core home pokedex"
# WARN: insecure, please change before using
SECRET_KEY="django-insecure-(9cj$+y+jt%qxsfkcvv6iwljt)dpu6^2^^r=3am2ba!+9o)%m9"

## jupyterlab envs
DJANGO_ALLOW_ASYNC_UNSAFE=true
# WARN: insecure, please change before using
JUPYTER_TOKEN="jupyter-insecure-8f821b0fdd188e9f0ac64814aec8524b9b340630"
